<p>cart works!</p>

<div *ngIf="cartItems.length === 0" class="alert alert-info">
    Your Cart is Empty
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Product Price</td>
            <td>Product Quantity</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of cartItems">
            <td> {{items.productName}} </td> 
            <td> {{items.price}} </td> 
            <td> {{items.qty}} </td>
            <td><strong> {{ items.qty * items.price | currency:'INR' }} </strong></td>
        </tr>
    </tbody>
</table>

<ul class="list-group" *ngIf="cartItems.length > 0">

    <li class="list-group-item active">
        <strong>Total : {{cartTotal | currency:'INR'}}</strong>
    </li>
</ul>