<mat-card>
    <mat-action-list>
        <div mat-subheader>
            <h1><strong>Menu</strong></h1>
        </div>
        <button mat-list-item routerLink='/admin-dashboard/admin-home'><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink='/admin-dashboard/admin-users'><mat-icon mat-list-icon>account_box</mat-icon>Users</button>
        <button mat-list-item routerLink='/admin-dashboard/product'><mat-icon mat-list-icon>inventory_2</mat-icon>Products</button>
        <button mat-list-item routerLink='/admin-dashboard/category'><mat-icon mat-list-icon>dehaze</mat-icon>Categories</button>
    </mat-action-list>
</mat-card>