<!-- <h1>All - categories work</h1> -->
<mat-card>
    <mat-list>
        <div class="container text-center">
            <button mat-raised-button color="accent" routerLink="/admin-dashboard/category/create-category">Add New Category</button>
        </div>
        <div mat-subheader>
            <h1>All Categories</h1>
        </div>
        <!-- <mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{ c.categoryName }}</div>
            <div mat-line>{{ c.categoryDescription }}</div>
            <div></div>
            <div style="margin-bottom: 5px;margin-right: 10px;"><button mat-raised-button color="accent" [routerLink]="['/update-product', i.productId]" class="btn btn-primary">Update</button></div>
            <div style="margin-bottom: 5px;"><button mat-raised-button color="accent" [routerLink]="['/update-product', i.productId]" class="btn btn-primary">Update</button></div>
            <mat-divider></mat-divider>
        </mat-list-item> -->

        <table class='table table-striped table-bordered table-hover'>
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Category Image</th>
                    <th>Category Name</th>
                    <th>Category Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of categories">
                    <td> {{ c.categoryId }} </td>
                    <td> <img [(src)]="c.categoryImagePath" width="100" height="100"></td>
                    <td> {{ c.categoryName }} </td>
                    <td> {{ c.categoryDescription }} </td>
                    <td>
                        <!-- <a routerLink='/update-product'>Update</a> -->
                        <button mat-raised-button color="primary" [routerLink]="['/update-category', c.categoryId ]">Update</button>
                    </td>
                    <td>
                        <!-- <a routerLink='/update-product'>Update</a> -->
                        <button mat-raised-button color="accent" [routerLink]="['/delete-category', c.categoryId ]">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </mat-list>


</mat-card>