<!-- <p>register works!</p> -->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="items-center" src="../../../../assets/img/mobile_login.svg" width="150" height="150">
                </div>
                <h1 class="text-center">Login Here !!!</h1>

                <form class="text-center">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email Id</mat-label>
                        <input matInput placeholder="Enter First Name here">
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Last Name here">
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                </form>
                <div class="example-button-row">
                    <button class="login_button" mat-raised-button color="primary">LOGIN</button>
                    <!-- <button >SUBMIT</button> -->
                </div>
            </div>
        </div>
    </div>
</div>