<p>update-product works!</p>


<!-- <p>register works!</p> -->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="items-center" src="../../../../assets/img/register_logo.svg" height="150" width="150">
                </div>
                <h1 class="text-center">Update existing Product !!</h1>

                <form (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter Product Description here" name='lastName' [(ngModel)]='product.productName'>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Enter Age here" name='description' [(ngModel)]='product.productDescription'>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Amount</mat-label>
                        <input matInput placeholder="Enter Price here" name='amount' [(ngModel)]='product.productPrice'>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <button type='submit' class="register_button" mat-raised-button color="primary">UPDATE PRODUCT</button>

                </form>
                <!-- <button >SUBMIT</button> -->
            </div>
        </div>
    </div>
</div>