<!-- <p>create-product works!</p> -->

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="items-center" src="../../../../../assets/img/add_product.png" height="150" width="150">
                </div>
                <h1 class="text-center">Add new Product !!</h1>

                <form (ngSubmit)="onSubmit()" #productForm="ngForm">

                    <!-- {{ productForm.value | json }} -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter Product Description here" required name='productName' [(ngModel)]='product.productName'>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Enter Age here" name='productdescription' required [(ngModel)]='product.productDescription'>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>MRP<pre>Must contain numbers</pre></mat-label>
                        <input matInput placeholder="Enter Price here (Must contain numbers)" name='productamount' required type="number" [(ngModel)]='product.productPrice'>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Product Selling Price</mat-label>
                        <input matInput placeholder="Enter Price here (Must contain a number)" name='productSp' required type="number" [(ngModel)]='product.productSP'>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl [(ngModel)]='product.productCategory' required name="productCategory" (change)="onFileChanged($event)">
                          <option value=""  disabled></option>
                          <option *ngFor="let cat of categoryList">{{cat.categoryName}}</option>

                        </select>
                    </mat-form-field>
                    <input type="file" name="file" placeholder="Attach Image here" [(ngModel)]='product.productImagePath' (change)="onFileChanged($event)" />
                    <div class="text-center">
                        <button type='submit' class="register_button" mat-raised-button color="primary">ADD PRODUCT</button>
                    </div>
                </form>
                <!-- <button >SUBMIT</button> -->
            </div>
        </div>
    </div>
</div>