<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<!-- <body>
    <div class="container">
        <div class="title">Registration</div>

        <form (ngSubmit)="onSubmit()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="Enter your first name" name='firstName' id='firstName' [(ngModel)]='user.firstName' required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your last name" name='lastName' id='lastName' [(ngModel)]='user.lastName' required>
                </div>
                <div class="input-box">
                    <span class="details">Age</span>
                    <input type="text" placeholder="Enter your age" name='age' id='age' [(ngModel)]='user.age' required>
                </div>
                <div class="input-box">
                    <span class="details">Email Id</span>
                    <input type="text" placeholder="Enter your email id" name='emailId' id='emailId' [(ngModel)]='user.emailId' required>
                </div>

                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" placeholder="Enter your password" name='password' id='password' [(ngModel)]='user.password' required>
                </div>

            </div>

            <div class="button">
                <input type="submit" value="Register">
            </div>

        </form>
    </div>

</body> -->

<body>

    <img class="wave" src="/assets/img/wave.png">
    <div class="container">
        <div class="img">
            <img src="/assets/img/bg.svg">
        </div>
        <div class="login-content">
            <form action="index.html">
                <img src="/assets/img/avatar.svg">
                <h2 class="title">Welcome</h2>
                <div class="input-div firstName">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>First Name</h5>
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="input-div lastName">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Last Name</h5>
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="input-div age">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Age</h5>
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="input-div emailId">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Email Id</h5>
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="input-div password">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" class="input">
                    </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>