<mat-toolbar color="accent" style="margin-top: 10px;">

    <a class="navbar-brand" routerLink="home">
        <img src="../../../../assets/img/5.svg" width="80" height="80" class="d-block align-top">
    </a>
    <button mat-icon-button class="example-icon" routerLink='admin-dashboard' aria-label="Example icon-button with menu icon">
        <mat-icon>medication</mat-icon>
      </button>
    <span>Medicare</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf='!isLoggedIn' routerLink="login" aria-label="Example icon-button with login icon">
      <strong>Login  </strong>
    </button>
    <button mat-icon-button class="example-icon" *ngIf='isLoggedIn' routerLink="login" aria-label="Example icon-button with login icon">
      <strong>Logout  </strong>
    </button>
    <button mat-icon-button class="example-icon favourite-icon" *ngIf='!isLoggedIn' routerLink="register" aria-label="Example icon-button with login icon">
      <strong>Register</strong>
    </button>
</mat-toolbar>