.register_logo {
    height: 150;
    width: 150;
}

.full-width {
    width: 100%;
}

.register_button {
    width: 30%;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #0fa1bb;
}