<!-- <p>filters works!</p> -->
<div class="card">
    <div class="card-header text-md-center"><strong>Filters</strong></div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="from">From</label>
                <input type="number" id="from" class="form-group">
            </div>
            <div class="form-group">
                <label for="to">To</label>
                <input type="number" id="to" class="form-group">
            </div>

            <button mat-raised-button color="primary">Filter By Price</button>
        </form>
    </div>
</div>