<!-- <p>register works!</p> -->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="items-center" src="../../../../assets/img/register_logo.svg" height="150" width="150">
                </div>
                <h1 class="text-center">Register Here !!</h1>

                <form class="text-center">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First Name here">
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Last Name here">
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Age</mat-label>
                        <input matInput placeholder="Enter Age here">
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email Id</mat-label>
                        <input matInput placeholder="Enter emailId here">
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Password here">
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                </form>
                <button class="register_button" mat-raised-button color="primary">REGISTER</button>
                <!-- <button >SUBMIT</button> -->
            </div>
        </div>
    </div>
</div>