<!-- <p>portaluserregister works!</p> -->

<!-- <p>register works!</p> -->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="items-center" src="../../../../assets/img/Onboarding.png" height="150" width="150">
                </div>
                <h1 class="text-center">Register Here !!</h1>

                <form (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First Name here" name='firstName' [(ngModel)]='user.firstName' required>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Last Name here" name='lastName' [(ngModel)]='user.lastName' required>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>UserName</mat-label>
                        <input matInput placeholder="Enter UserName here" name='userName' [(ngModel)]='user.username' required>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email Id</mat-label>
                        <input matInput placeholder="Enter emailId here" type="email" name='emailId' [(ngModel)]='user.email' required>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone No</mat-label>
                        <input matInput placeholder="Enter Phone No here" name='phone' [(ngModel)]='user.phone' required>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Password here" type='password' name='password' [(ngModel)]='user.password' required>
                        <!-- <mat-hint>Enter Your UserName</mat-hint> -->
                    </mat-form-field>
                    <p *ngIf="error" class="alert alert-danger text-center">{{error}}</p>
                    <button type='submit' id="registerbtn" class="register_button" mat-raised-button color="primary">REGISTER</button>

                </form>
                <!-- <button >SUBMIT</button> -->
            </div>
        </div>
    </div>
</div>